/* Contenedores */
.contenedor{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.contenedor-vertical{
    display: flex;
    flex-direction: vertical;
    justify-content: center;
}
.contenedor-titulos{
    display: flex;
    justify-content: space-evenly;
}
.contenedor-subtitulo{
    max-width: 350px; 
}
.footer{
    display: flex;
    justify-content: space-between;
}
/* Fuentes */

html{
    font-family: 'Sansita Swashed', cursive;
    font-size: 15px;
    color:white;
}

.logo{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 35px;
    color:white;
    margin-right:50%;
    margin-left: 5%;
}
.logo:hover{
    color:white;
}

.cabecera{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color:white;
}

.Titulo{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 35px;
    background-color: rgba(133, 45, 4, 0.514);
    text-align: center;
}
.Subtitulo{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

/* Colores de Texto */
.link-blanco a{
    color:white;
    text-decoration: none;
}
.link-blanco a:hover{
    color:white;
    text-decoration: none;
    font-weight: 600;
}

/* Fondos */
.f-negro{
    background-color: rgb(0, 0, 0);
}
.f-negro-claro{
    background-color: rgba(0, 0, 0, 0.900);
}

/* Botones */
.boton-agendar{
    background-color: rgb(1, 91, 94);
    width: 100%;
    display: block;
    border: white solid 0.5px;
    margin: 10px;
    padding: 7.5px;
}
.boton-agendar:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.63);
    border: black solid 0.5px;
}
/* Formularios */
.back_formulario{
    background-color: rgba(0, 0, 0, 0.637);
    margin: 2.5%;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
}
.formulario{
    color:white;
}
.servicios_check{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.servicio_check{
    display: flex;
    padding: 1px;
    margin: 2px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.servicios_list{
    display: flex;
    justify-content: space-between;
}

/* Otros */
.link{
    text-decoration: none;
    color:white;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    align-content: center;
}
.link:hover{
    text-decoration: none;
    font-weight: 600;
}