/*Contenedores*/
.contenedor-titulos, .contenedor-titulos p{
    max-width: 500px;
    line-height: 50px;
    margin-bottom: 0;
    margin-top: 0;
}
.contenedor-subtitulo{
    max-width: 350px; 
}
/* Fuentes */

html{
    font-family: 'Sansita Swashed', cursive;
    font-size: 15px;
    color:white;
}

.logo{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 35px;
    color:white;
    margin-right:60%;
    margin-left: 5%;
}
.logo:hover{
    color:white;
}

.Titulo{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 35px;
    background-color: rgba(133, 45, 4, 0.514);
    border-radius: 30px;
    text-align: center;
}
.Subtitulo{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

/*Colores de Texto*/
.link-blanco a{
    color:white;
    text-decoration: none;
}
.link-blanco a:hover{
    color:white;
    text-decoration: none;
    font-weight: 600;
}

/*Fondos*/
.f-negro{
    background-color: rgb(0, 0, 0);
}
.f-negro-claro{
    background-color: rgba(0, 0, 0, 0.900);
}